/* styling goals */
.mygoal {
  width: 900px;
  min-height: 300px;
  gap: 5px;
  padding: 2px;
  margin: 50px auto;
  border: 2px solid aliceblue;
  border-radius: 20px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mygoal img {
  width: 40%;
  height: 40%;
  object-fit: cover;
  border-radius: 20px;
}

.mygoal h1 {
  font-size: 40px;
  color: #4545d8;
  padding: 10px;
  text-align: center;
}

.mygoal p {
  font-size: 20px;
  padding: 10px;
  text-align: center;
}
/* end of styling goals */

/* Styling My Goal Journey */
.journey {
  max-width: 900px;
  margin: auto;
}

.journey h1 {
  color: #4545d8;
  font-size: 40px;
  margin-bottom: 15px;
}

.goals-list {
  position: relative;
  padding-left: 35px;
}

/* creating the line */
.goals-list::before {
  content: "";
  position: absolute;
  left: 9px;
  top: 10px;
  bottom: 10px;
  width: 3px;
  background-color: #9987cc;
}

.goal {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}

.number {
  position: absolute;
  left: -35px;
  width: 18px;
  height: 18px;
  background-color: #4545d8;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  font-weight: bold;
  /* z-index: 2; */
}

.goal-card {
  width: 100%;
  background-color: aliceblue;
  padding: 10px 18px;
  border-radius: 11px;
  cursor: pointer;
  transition: 0.3s;
}

.goal-card:hover {
  transform: translateX(15px);
  box-shadow: -10px 0px 15px rgba(0, 0, 0, 0.3);
}
/* end of Styling My Goal Journey */

/* styling goals by time */
.bytime h1 {
  font-size: 50px;
  color: #4545d8;
  padding: 10px;
  width: 900px;
  margin: 10px auto 0 auto;
  text-align: left;
}

.bytime-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 900px;
  gap: 20px;
  padding: 30px;
  margin: 10px auto;
}

.bytime-card h2 {
  color: #4545d8;
  margin-bottom: 5px;
}

.bytime-card p {
  line-height: 1.2;
}

.bytime-card img {
  width: 30%;
  object-fit: cover;
}

.term {
  width: 280px;
  height: 200px;
  background-color: aliceblue;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.year {
  width: 280px;
  height: 200px;
  background-color: aliceblue;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.someday {
  width: 280px;
  height: 200px;
  background-color: aliceblue;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}
/* end of styling goals by time */

/* styling progress */
.progress-bar {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 13px 14px;
  background-color: aliceblue;
  border-radius: 12px;
}

.progress-bar h1 {
  margin: 0 0 8px;
  color: #4545d8;
  font-size: 50px;
}

.progress-items {
  margin-bottom: 8px;
}

.progress-info {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #3d3450;
  margin-bottom: 3px;
}

progress {
  width: 100%;
  height: 20px;
}
/* end of styling progress */

/* styling quote */
.steps {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 50px;
  background-color: rgba(255, 255, 255, 0.461);
  gap: 30px;
  padding: 30px 2%;
  margin: 25px auto;
  width: fit-content;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  color: #2f00ff;
}
/* end of styling quote */
